<div class="usercenter">
	<h4>你的位置:我的走秀</h4>
		<h2>我的走秀</h2>
	<div id="box" style="width: 230px;">
	
			<h3>我的交易</h3>
			<div class="backg">
				<a href="">>>订单管理</a>
				<a href="">>>我的关注</a>
				<a href="">>>商品评论</a>
				<a href="">>>退换货申请</a>
				<a href="">>>退换货记录</a>
			</div>
			<h3>我的资产</h3>
			<div class="backg">
				<a href="">>>账户余额</a>
				<a href="">>>我的优惠券</a>
				<a href="">>>我的礼品卡</a>
				<a href="">>>我的积分</a>
				<a href="">>>积分抽奖记录</a>
			</div>
			<h3>我的账户</h3>
			<div class="backg">
			<a href="">>>个人资料</a>
			<a href="">>>安全中心</a>
			<a href="">>>收货地址</a>
			<a href="">>>绑定账户</a>
			</div>
			<h3>服务中心</h3>
			<div class="backg">
				<a href="">>>系统消息<sapn>(0)</sapn></a>
				<a href="">>>我的吐槽<sapn>(0)</sapn></a>
				<a href="">>>好友邀请</a>
				
			</div>
		</div>
		<div class="center">
			<div class="center-top">
				<img src="img/none.jpg" style="float: left;margin-top:-5px"/>
				<p style="color: red;"><span></span>xiu_1013770... 欢迎您！</p><b/>
				<p>
				<b style="font-weight: normal;color: #5b5b5b;">手机已验证</b>
				<b style="font-weight: normal;color: #5b5b5b;">邮箱未注册</b>
			 </p>
			 <p style="font-weight:normal ;">上一次登录的时间:2017-5-6 14:41:01</p>
			</div>
			<div class="center-center">
				<p>订单提醒:<a href="">待处理订单(0)</a><a href="">系统消息(0条未读)</a></p>
				<p>我的收藏:<a href="">降价商品(0)</a><a href="">促销商品(0)</a><a href="">新到货商品(0)</a></p>
				<p>账户余额:<a href="">￥<span>0.0</span>元</a>  我的积分:<a href=""><span>0</span>元</a></p>
				<p>优惠劵/卡<a href=""><span>5</span>张</a></p>
				
			</div>
			<div class="center-bottom">
				<h4>最近浏览的商品</h4>
			</div>
			
		</div>
		<div class="center-right">
			<h6>&nbsp;&nbsp;走秀公告</h6>
			<ul style="list-style:square;">
				<li><a href="">公告-退换货</a></li>
				<li><a href="">走秀防诈骗提示</a></li>
			</ul>
			<h6>&nbsp;&nbsp;常见问题</h6>
			<ul style="list-style:square;">
				<li><a href="">快递运输免运费吗？</a></li>
				<li><a href="">什么是走秀网积分？</a></li>
				<li><a href="">为什么我买了东西却没得到积分？</a></li>
				<li><a href="">什么是优惠券，优惠券包含哪几种类型？</a></li>
				<li><a href="">购物流程是怎样的？</a></li>
			</ul>
			<h6>&nbsp;&nbsp;用户反馈</h6>
			<ul>您对新版“我的走秀”有什么好建议，或者需要增加新的功能，
			<a href="">请点此告诉我们</a></ul>
		</div>
</div>
<style type="text/css">

body{color: #5b5b5b;
	font-size: 12px;}
a{color:#999;font-size: 11px;}
.usercenter{width: 970px;
			   height:630px;
			   border: 1px solid #ccc;
			   margin: 0 auto;
			   border-radius: 10px;
			   padding: 10px;}
 .usercenter h2{width: 230px;height: 53px;
			 background:#e9e9e9;
			border-top-right-radius:10px;
			 line-height:30px;
			 padding: 10px;}
.usercenter #box{float: left;}			 
 .usercenter #box h3{color:#000;
				 font-size:12px;
				 background: #f0f0f0;
				  width:228px;
				  border-bottom: 1px solid #fff;
				  padding-left: 10px;} 
 .usercenter #box a{color:#5b5b5b;
					display:block;
					line-height:23px;}
.usercenter #box .backg{background:#ffffff;
                   width:228px;
                   border: 1px solid #ccc;}
.usercenter #box h3{width: 230px;height: 31px;
                 line-height: 31px;}
.usercenter h4{margin-bottom:10px;} 
 .center{width: 470px;height: 369px;
        float: left;
        margin-left: 10px;
        margin-top: -50px;}
 .center  .center-top{width: 470px;
               height: 82px;
               border-bottom: 3px solid #999;}
.center  .center-top p{ margin-top:5px;
			 font-weight: bold;
			 line-height: 20px;
			 margin-left: 100px;}             
.center  .center-top span{width: 20px;
                      height: 20px;
                     display:inline-block;       
	background:url(img/user_center.gif);no-repeat;
	background-position: 0px -845px;
	float: left;}          
 .center  .center-center{width: 470px;
               height: 190px;
               }
 .center  .center-center p{
			 	line-height: 35px;
			 	margin-left: 30px;
			 	color: #5B5B5B;
			 }
 .center  .center-center p a{margin: 0px 40px 0px 20px;}
 .center  .center-center p a span{color: red;font-weight: bold;}
 .center  .center-center{width: 470px;
               height: 190px;
               border-bottom: 1px dashed #ccc;}
.center-bottom{width: 470px;height: 30px;
            background:#f0f0f0;
            line-height: 30px;
            margin-top: 20px;
            }
.center-bottom h4{margin-left: 30px;}
.usercenter .center-right{float: right;
	               width: 220px;
 				height: 400px;
 				}
.center-right h6{height: 29px;
              color: #fff;
              background: #929292;
              font-size: 11px;
              line-height:29px;
             }
.center-right ul{background: #f0f0f0;padding:15px;}
.center-right ul li{line-height:20px;margin-left: 10px;}
</style>
<script>
		$("#box h3").click(function(){
			$(this).next(".backg").toggle()
			});
			
		$("a").mousemove(function(){
			$(this).css("color","red");
		})
		$("a").mouseout(function(){
		$(this).css("color","");
		})	
		</script>
