<div class="shopcart">
	<!--头部-->
	<div class="shopcart-top">
		<div class="shopcart-top-left">
			<img src="img/s_05.png"/>
		</div>
		<div class="shopcart-top-right">
			<p>客服热线(免长途费):<span>&nbsp;400-888-4499&nbsp;</span>在线客服</p>
			<p>您好!欢迎光临走秀网<a href="">[&nbsp;登录/注册&nbsp;]</a>&nbsp;|&nbsp;<a href="">帮助中心</a></p>
		</div>
	</div>
	<div class="shopcarttop">
	<div class="shopcart-top">
		<ul>
			<li>1.我的购物袋<span></span></li>
			<li>2.填写并核对订单信息<span></span></li>
			<li>3.成功提交</li>
		</ul>
	</div>
</div>
	<!--表格-->
	<table cellspacing="0" cellpadding="0" class="mytab">
		<tr>
			<th style="width: 80px;">
				<label>
					<input type="checkbox" name="" id="" value="" /> 全选
				</label>
			</th>
			<th style="width: 358px;">商品</th>
			<th style="width: 120px;">购买价(元)</th>
			<th style="width: 130px;">小计(元)</th>
			<th style="width: 130px;">数量</th>
			<th style="width: 130px;">操作</th>
		</tr>
		<tr>
			<td class="fx">
				<input type="checkbox" name="" id="" value="" />
			</td>
			<td>
				<a href="">
					<img src="img/small2.PNG"/>
				</a>
				<div>
					<p>女士圆领条纹T恤</p>
					<span>颜色 : 浅棕色 尺码 : EU34</span>
				</div>
			</td>
			<td style="font-size: 18px;">￥<span>600</span></td>
			<td style="color: red;font-size: 18px;">￥<span>600</span></td>
			<td>
				<input type="text" name="" id="" value="1" />
			</td>
			<td>
				<span>移至收藏夹</span>
				<br />
				<span>删除</span>
			</td>
		</tr>
	</table>
	<!--//信息更换-->
<div class="shopcart-genghuan-boss">
	<div class="shopcart-genghuan">
		<img src="img/nogoods.jpg"/>
		<p>购物袋暂没有商品，现在去<a href="">&nbsp;挑选自己喜欢的商品。</a></p>
	</div>
	<div class="shopcart-genghuan-bottom">
		<div class="shopcart-jiajian"></div>
		<p>&nbsp;&nbsp;请<a href="">登录</a>后查看您收藏的商品</p>

	</div>
</div>
</div>
<!--/*//页面底部*/-->
<div class="shopcart-fotter">
	<p>Copyright © 2008-2017 Xiu.com深圳走秀网络科技有限公司 版权所有 . 粤ICP备07502993号</p>
</div>
<style type="text/css">
.shopcart{
	width: 950px;
	margin: 0 auto;
	}
a{
	text-decoration: none;
	color:#666;
	}
a:hover{color:orange;}
.shopcart-top{
	width:950px;
	height: 77px;
    margin: 0 auto ;
    }	
.shopcarttop{
	width: 950px;
	margin: 0 auto;
	}
.shopcart-top .shopcart-top-left img{
	margin-top:10px;
	float: left;
	}
.shopcart-top .shopcart-top-right{
	width:310px;
	height:77px;
	float: right;
	color: #151515;
	font-size: 12px;
	text-align: right;
	line-height:40px;}
.shopcart-top .shopcart-top-right p span{
	font-size: 17px;
	color: red;
	font-weight: bold;
	}								
.shopcarttop .shopcart-top{
	width:950px;
	height: 55px;
	border-top:2px solid black;
	}
.shopcarttop .shopcart-top ul{margin-top:20px;}					
.shopcarttop .shopcart-top ul li{
	width:316px;
	height: 27px;
	display: inline-block;
	line-height: 27px;
	text-align: center;
	float: left;
	}	
.shopcarttop .shopcart-top li span{
	width:30px;height: 30px;
	display: inline-block;
	float: right;
	margin-top:-2.5px;
	font-weight: normal;
	background:url(img/s_shop1.gif) no-repeat;
 	}
.shopcarttop .shopcart-top li:nth-child(1){
	background: #82bf38;
	color: white;
	}	   
.shopcarttop .shopcart-top li:nth-child(2){
	background: #e2e2e2
	}	   
.shopcarttop .shopcart-top li:nth-child(3){
	background: #e2e2e2
	}	   
.shopcarttop .shopcart-top  li:nth-child(1) span{
	background-position:-2px 0px ;
	}					   
.shopcarttop .shopcart-top li:nth-child(2) span{
	background-position:-27px 0px ;
	}
/*<!--//信息更换-->	*/	
.shopcart-genghuan-boss{
	width: 950px;
	height:200px;
	border-bottom: 2px solid black;
	margin: 0 auto;
	margin-top: 10px;}	   
.shopcart-genghuan{
	width: 950px;
	height: 92px;
	margin: 0 auto;
    margin-top: 20px;
    background:#F6F6F6;
    float: left;
    }	
.shopcart-genghuan img{
	margin:20px 0px 0px 200px;
    float: left; 
    } 
.shopcart-genghuan p{
	line-height:92px;
	font-size:13px;
	float: left;
	margin-left: 100px;
	}   
.shopcart-genghuan p a{
	display:inline-block;
    border-bottom: 1px solid #FF6633;
    height: 20px;
    line-height: 20px;
    color: #FF6633;}     
.shopcart-genghuan p a:hover{ 
	border-bottom: 1px solid #F6F6F6;
	}   
.shopcart-genghuan-bottom .shopcart-jiajian{
	width:170px;
	height:26px;							
	margin-top: 30px;
	background:url(img/s_shop1.gif)no-repeat;
	background-position:0px -260px;
	float: left;}
.shopcart-genghuan-bottom p{
	line-height:90px;
	font-size: 13px;
	}	
.shopcart-genghuan-bottom p a{color:#FF6633;}
/*//页面底部*/
.shopcart-fotter{
	width: 950px;
	height: 22px;
	margin:0 auto;
	}	
.shopcart-fotter p{
	text-align: center;
    color: #7D7D7D;
    font-size: 12px;
    margin-top:20px;
    }				   
.shopcart .mytab{
	width: 100%;
    border: 1px solid #d6d3d3;
    font-size: 12px;
}
.shopcart .mytab tr th{
	color: black;
    background-color: #E3E3E3;
    height: 32px;
    text-align: center;
    background-position: 0 -73px;
    background-repeat: repeat-x;
    font-weight: normal;
}
.shopcart .mytab tr th label{
	padding: 0 0 0 10px;
}
.shopcart .mytab tr th label input{
	vertical-align: middle;
}		
.shopcart .mytab tr td{
	text-align: center;
} 
.shopcart .mytab tr td.fx{
	text-align: left;
	padding-left: 23px;
} 		
.shopcart .mytab tr td>a{
	display: inline-block;
	width: 82px;
	height: 110px;
	padding: 10px;
	float: left;
}
.shopcart .mytab tr td>a>img{
	width: 62px;
	height: 162;
}
.shopcart .mytab tr td>div{
	width: 260px;
	height: 110px;
	display: inline-block;
	text-align: left;
	line-height: 25px;
    padding: 20px 10px;
}
.shopcart .mytab tr td>div>p{			
	width: 200px;
	color: #000;
    padding-right: 0px;
    line-height: 18px;
    }	
.shopcart .mytab tr td>div>span{
	color: #5b5b5b;
	line-height: 18px;
}
.shopcart .mytab tr td>span{
	line-height: 20px;
}						
</style>
<script>
	$("table tr:gt(0)").css({"background-color":"#fff4e8","border":"1px solid #D6D3D3"})
</script>