
<div class="shop-details">
	<!--位置-->
	<div class="place-details">
		您的位置：
		<span>
			<a href="javascript::">走秀首页</a>
			&gt;
			<a href="javascript::">衬衫</a>
		</span>
		&gt;
		<span>韩都衣舍</span>
	</div>
	<!--位置结束-->
	
	<!--商品内容-->
	<div class="piccon-details">
		<!--商品图片-->
		<div class="allpic-details">
			<!--大图-->
			<div class="bigpic-details clearfix jqzoom"  id="content">
		       <!-- <a href="" class="jqzoom" rel='gal1'  title="triumph" >-->
		            <img src="img/small1-big.PNG"  jqimg="img/small1-big.PNG" alt="" / >
		        <!--</a>-->
			</div>
 
			<!--小图-->
			<div class="smallpic-details">
				<ul>
					<li class="boult"><img src="img/small1.PNG"/></li>
					<li><img src="img/small2.PNG"/></li>
					<li><img src="img/small3.PNG"/></li>
					<li><img src="img/small4.PNG"/></li>
				</ul>
			</div>
		</div>
		<!--商品结束-->
		
		<!--商品价格-->
		<div class="allprice-details">
			<!--价格详情-->
			<div class="pricebox-details">
				<!--上部-->
				<div class="pricebox-top">
					<h1>
						<span>韩都衣舍</span>  <!--需要获取-->
						<b>[限时8折]</b>
					</h1>
					<h2>
						<span>品&nbsp;&nbsp;牌：</span>
						<a href="javascript:;">&Other Stories</a>
						<a href="javascript:;" style="color: #005BA1;">已有114条品牌评论</a>
						<i>商品编号：11697373</i>
					</h2>
				</div>
				<!--商品价格上部结束-->
				
				<!--限时抢购-->
				<div class="price-time-details">
					<div class="buy-pice">
						<span>限时抢购：</span>
						<b>￥600</b>
					</div>
					<!--剩余时间-->
					<p class="time-details">
						剩余：
						<span class="d"></span>
						天
						<span class="h"></span>
						时
						<span class="f"></span>
						分
						<span class="m"></span>
						秒
					</p>
					<!--价格-->
					<p class="xiu-price">
						<span>走 秀 价：</span>
						<span>￥123</span>  <!--需修改-->
					</p>
					<!--发货地-->
					<div class="deliver">
						<span>发 货 地：</span>
						<strong>英国.伦敦</strong>
						<b>预计7-14个工作日到达</b>
						<a href="javascript:;">
							查看配送流程
							<i>
								<img src="img/pc-ENGLAN7-14.jpg" />
							</i>
						</a>
					</div>
					<!--税费-->
					<div class="expenses">
						<span>税&nbsp;费：</span>
						由海外卖家承担
						<a href="javascript:;">
							详细说明
							<em>本商品为海外商品，关税由海外卖家承担，如顾客接海关或物流商通知缴纳税费，请先行按国家规定支付，再凭纳税凭证联系走秀客服找海外卖家报销。</em>
						</a>
					</div>
				</div>
				<!--限时抢购结束-->
				
				<!--商品属性-->
				<div class="shopattr-details">
					<!--颜色属性-->
					<div class="Attr" id="colorAttr">
						<span>颜&nbsp;&nbsp;色：</span>
						<ul>
							<li class="active">浅棕色</li>
						</ul>
					</div>
					<!--尺寸属性-->
					<div class="Attr" id="sizeAttr">
						<span>尺&nbsp;&nbsp;寸：</span>
						<ul>
							<li class="active">EU34</li>
							<li>EU36</li>
							<li>EU38</li>
							<li>EU40</li>
							<li>EU42</li>
						</ul>
						<a href="javascript:;">尺码指南</a>
					</div>
					<!--数量属性-->
					<div class="Attr" id="numberAttr">
						<span>数&nbsp;&nbsp;量：</span>
						<b class="subtract"></b>
						<input type="text" name="" id="" value="1" min="1" /> <!--需改进-->
						<b class="add"></b>
						件
					</div>
					<!--分期付款-->
					<div class="installment">
						<a href="javascript:;">
							分期付款
							<em>
								<img src="img/fqbiao.jpg">
								<b>订单总金额大于
									<font color="#ea7514">500</font>
									元即可选择订单分期付款
								</b>
								<br>支付时选择“信用卡分期"-"银联在线支付”，
								<br>即可分期付款。
							</em>
						</a>
						<span>由Semla Shop发货</span>
						<i>有走秀网提供售后服务</i>
					</div>
					<!--加入购物车-->
					<div class="buycar-details">
						<a href="javacropt:;" class="buy-btn"></a>
						<a href="javacropt:;" class="buy-btn-1"></a>
						<a href="javacropt:;" class="collect-btn"></a>
					</div>
					<!--电话订购-->
					<div class="call-buy">
						电话订购：
						<strong>400-888-4499</strong>
						<span>(08:00-24:00)</span>
					</div>
				</div>
				<!--商品属性结束-->
			</div>
			<!--商品详情结束-->
			
			<!--优惠提示-->
			<div class="yh-tips">
				<h2>优惠提示</h2>
				<p>商品已参加"限时8折优惠"</p>  <!--需要改-->
			</div>
			
			<!--分享-->
			<div class="sharebox-details">
				<dl>
					<dt>
						<img src="img/saoMa.PNG"/>
					</dt>
					<dd>
						<p>
							扫一扫二维码
							<br />
							分享给朋友
						</p>
						
					</dd>
				</dl>
				<!--分享方式-->
				<div class="shareclass-details">
					<span>分享到：</span>
					<ul>
						<li class="Sina"></li>
						<li class="Tencent"></li>
						<li class="Renren"</li>
						<li class="Kaixin"></li>
						<li class="Docin"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--商品价格结束-->
<!--商品内容结束-->
</div>
<!--商品信息-->
<div class="shopxinxi">
	<ul>
		<li class="on">商品信息</li>
		<li>品牌评论(114)</li>
		<li>走秀承诺</li>
		<li>服务障碍</li>
	</ul>
	<div class="shop_bags">
		<span>600</span> <!--需要改-->
		<a href="" onclick="addShop()"></a>
	</div>
</div>
<!--产品介绍-->
<div class="introduce_start">
	<div class="introduce_left">
		<div class="introduce">
			<h5>商品属性</h5>
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<td>
						<strong>服装款式：</strong>
						T恤
					</td>
					<td>
						<strong>服装门襟：</strong>
						套头
					</td>
					<td>
						<strong>袖长：</strong>
						长袖
					</td>
				</tr>
				<tr>
					<td>
						<strong>衣长：</strong>
						标准
					</td>
					<td>
						<strong>服装风格：</strong>
						休闲
					</td>
					<td>
						<strong>面料材质：</strong>
						100%天丝纤维
					</td>
				</tr>
				<tr>
					<td>
						<strong>服装流行元素：</strong>
						条纹
					</td>
					<td>
						<strong>领型：</strong>
						圆形
					</td>
					<td>
						<strong>适合性别：</strong>
						女性
					</td>
				</tr>
				<tr>
					<td>
						<strong>货到付款：</strong>
						不支持
					</td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<!--注意事项-->
			<div class="matters">
				<strong>注意事项：</strong>
				请根据服装洗涤标识选择正确的洗涤及养护方法。
			</div>
			<h5>尺寸对照</h5>
			<div class="clear"></div>
			<!--女装尺寸码-->
			<div class="size_Bs">
				<img src="img/sizeImage_9522.jpg"/>
			</div>
			<div class="clear"></div>
			<!--图片说明-->
			<div class="img_desription">
				<div style="padding-top: 10px;height: 200px;">
					<img src="img/ys.jpg"/>
				</div>
				<div style="padding-top: 15px;height: 518px;">
					<img src="img/wx.jpg"/>
				</div>
			</div>
			<div class="clear"></div>
			<h5>商品实拍</h5>
			<!--温馨提示-->
			<div class="warm-tip">
				<span>温馨提示：</span>
				<p>走秀网所有商品均为实物拍摄，我们尽最大努力将商品的原貌展示给您，但因拍摄灯光、个人显示器等原因，可能会有一定色差，请以实物为准。</p>
			</div>
			<!--温馨提示2-->
			<div class="warm-tips">
				<p>走秀网市场价采集自品牌国内外商场专柜及品牌官网标价，仅供参考，不作为购物依据。因各种因素导致市场价格浮动，从而造成走秀网市场价与专柜价或官网标价不一致的，为避免由此产生的任何纠纷，
					走秀网提醒你请均以专柜价或官网标价为准，敬请知悉。</p>
			</div>
		</div>
	</div>
	<!--评价满意度-->
	<div class="comment-details">
		<!--品牌满意度-->
		<div class="comment-brand">
			<!--左边-->
			<div class="comment-brand-left">
				<!--左边-->
				<div class="brand-left">
					<h3>品牌满意度</h3>
					<div class="left-point">
						<b>4.9</b>分
					</div>
					<!--星星-->
					<p class="left-start"></p>
				</div>
				<!--中间-->
				<ul class="brand-conent">
					<li>
						<span class="tit">品牌喜爱</span>
						<span class="_start"></span>
						<span class="value">4.9</span>
					</li>
					<li>
						<span class="tit">品牌质量</span>
						<span class="_start"></span>
						<span class="value">4.9</span>
					</li>
					<li>
						<span class="tit">描述相符</span>
						<span class="_start"></span>
						<span class="value">4.8</span>
					</li>
				</ul>
			</div>
			<!--中间-->
			<div class="comment-brand-middle">
				<h3>发表评论，送购物礼券</h3>
				<ol>
					<li>1.x****4</li>
					<li>2.x****8</li>
					<li>3.x****1</li>
					<li>4.a****3</li>
					<li>5.x****1</li>
					<li>6.x****7</li>
					<li>7.x****1</li>
					<li>8.x****5</li>
					<li>9.赵****锋</li>
				</ol>
			</div>
			<!--右边-->
			<div class="comment-brand-right">
				<p>
					<a href="" class="btn">发表评论</a>
				</p>
				<p>每天100名发表评论用户可获赠现金券
					<a href="" target="_blank">评论规则</a>
				</p>
			</div>
		</div>
	</div>
</div>
<!--返回顶部-->
<div class="backtop-details">
	<span class="close">关闭</span>
	<div class="r-menu">
		<a href="javascript:;" class="service"></a>
		<a ui-sref="shopcart" class="buy">
			<span class="num">0</span>
		</a>
		<a href="javascript:;" class="mail"></a>
		<a href="javascript:;" class="backtop"></a>
	</div>
</div>
<div class="clear"></div>
<style type="text/css">
	body{
		font-size: 12px;
	}
	.backtop-details{
		width: 69px;
		height: 260px;
		position: fixed;
		right: 30px;
	    top: 180px;
	    z-index: 999;
	}
	.backtop-details .close{
		color: #f00;
	    cursor: pointer;
	    text-align: center;
	    display: inline-block;
	    width: 69px;
	    height: 30px;
	    line-height: 30px;
	    background: #fff;
	    border: 1px solid #ddd;
	}
	.backtop-details .close:hover{
		color: #fff;
		background-color: #f00;
	}
	.backtop-details .r-menu{
		width: 67px;
    	background: #fff;
	}
	.backtop-details .r-menu a{
		display: block;
	    width: 69px;
	    height: 57px;
	    line-height: 26px;
	    color: #444;
	    text-align: center;
	    border-bottom: 1px solid #e7e7e7;
	    background: url(img/r_menu_bg.jpg) no-repeat;
	}
	.backtop-details .r-menu a.service:hover{
		background-position:-69px 0px;
	}
	.backtop-details .r-menu a.buy{
		background-position:0px -57px;
	}
	.backtop-details .r-menu a.buy span.num{
		width: 20px;
	    height: 20px;
	    line-height: 20px;
	    font-family:tahoma, arial, sans-serif;
	    font-weight: bold;
	    background: url(img/circle.png) no-repeat;
	    text-align: center;
	    font-size: 12px;
	    color: #fff;
	    display: inline-block;
	    margin-top: 4px;
	    margin-left: 28px;
	    z-index: 1000;
	}
	.backtop-details .r-menu a.buy:hover{
		background-position:-69px -57px;
	}
	.backtop-details .r-menu a.mail{
		background-position:0px -115px;
	}
	
	.backtop-details .r-menu a.mail:hover{
		background-position:-69px -115px;
	}
	.backtop-details .r-menu a.backtop{
		background-position:0px -172px;
	}
	.backtop-details .r-menu a.backtop:hover{
		background-position:-69px -172px;
	}
	.comment-details{
		width: 774px;
		height: auto;
	}
	.comment-details .comment-brand{
		width: 774px;
		height: 172px;
		color: #555;
		border: #e5e5e5 1px solid;
	    color: #555;
	    overflow: hidden;
	    padding: 30px;
	    margin-bottom: 17px;
	}
	.comment-details .comment-brand .comment-brand-left{
		width: 310px;
	    float: left;
	    border-right: #e5e5e5 1px solid;
	    height: 110px;
	}
	.comment-brand .comment-brand-left .brand-left{
		width: 90px;
    	float: left;
	}
	.comment-brand .comment-brand-left .brand-left h3{
		font-weight: normal;
	    font-size: 14px;
	    width: 100%;
	}
	.comment-brand .comment-brand-left .brand-left .left-point{
		height: 71px;
	    line-height: 71px;
	    vertical-align: middle;
	}
	.comment-brand .comment-brand-left .brand-left .left-point b{
		color: #EE7F2C;
	    font-size: 40px;
	    font-weight: normal;
	    font-family: Arial, Helvetica, sans-serif;
	}
	.comment-brand .comment-brand-left .brand-left .left-start{
		width: 78px;
	    height: 13px;
	    overflow: hidden;
	    background: url(img/goods_info.gif) no-repeat;
	    display: block;
	    background-position: -194px -1189px;
	}
	.comment-brand .comment-brand-left .brand-conent{
		width: 200px;
	    float: right;
	    margin-right: 10px;
	    display: inline;
	}
	.comment-brand .comment-brand-left .brand-conent li{
		float: left;
	    display: block;
	    width: 100%;
	    height: 14px;
	    line-height: 14px;
	    margin-bottom: 30px;
	}
	.comment-brand .comment-brand-left .brand-conent li span{
		line-height: 14px;
		float: left;
	}
	.comment-brand .comment-brand-left .brand-conent li span._start{
		width: 78px;
	    height: 13px;
	    overflow: hidden;
	    background: url(img/goods_info.gif) no-repeat;
	    display: block;
	    background-position: -194px -1189px;
	    margin: 0 20px;
	}
	.comment-details .comment-brand .comment-brand-middle{
		width: 200px;
	    height: 110px;
	    float: left;
	    border-right: #e5e5e5 1px solid;
	    padding-left: 20px;
	}
	.comment-brand .comment-brand-middle h3{
		font-weight: normal;
	    font-size: 14px;
	    margin: 0 auto;
	    overflow: hidden;
	    line-height: 22px;
	}
	.comment-brand .comment-brand-middle ol{
		margin: 15px auto 0 auto;
	    overflow: hidden;
	    list-style: none;
	}
	.comment-brand .comment-brand-middle ol li{
		float: left;
	    display: block;
	    overflow: hidden;
	    height: 22px;
	    line-height: 22px;
	    margin-right: 5px;
	}
	.comment-details .comment-brand .comment-brand-right{
		width: 145px;
    	float: right;
	}
	.comment-details .comment-brand .comment-brand-right p{
		float: left;
	    width: 100%;
	    margin-bottom: 10px;
	    color: #555;
	    line-height: 18px;
	}
	.comment-details .comment-brand .comment-brand-right p a{
		color: #005aa0;
    	margin-left: 12px;
	}
	.comment-details .comment-brand .comment-brand-right p a.btn{
		display: inline-block;
	    color: #fff;
	    background: url(img/goods_info.gif) no-repeat -158px -1133px;
	    width: 114px;
	    height: 23px;
	    line-height: 23px;
	    text-align: center;
	    font-size: 12px;
	    font-weight: bold;
	    margin-left: 0;
	}
	.introduce_start{
		width: 1000px;
		height: auto;
		margin: auto;
	}
	.introduce_start .introduce_left{
		width: 775px;
		height: auto;
		float: left;
	}
	.introduce_start .introduce_left .introduce{
		width: 774px;
		height: auto;
	}
	.introduce_start .introduce_left .introduce h5{
		height: 25px;
	    line-height: 25px;
	    padding: 0 0 0 16px;
	    font-size: 14px;
	    font-weight: bold;
	    background: #f3f3f3;
	    color: #333;
	    margin: 20px 0;
	    float: left;
	    width: 773px;
    }
    .introduce_start .introduce_left .introduce table{
    	border-right: 1px solid #ebebeb;
    }
    .introduce_start .introduce_left .introduce table td{
    	height: 30px;
    	width: 32%;
	    line-height: 20px;
	    padding-left: 10px;
	    border: 1px solid #ebebeb;
	    border-bottom: none;
	    border-right: none;
	    color: #646464;
    }
    .introduce_start .introduce_left .introduce .matters{
    	border: 1px solid #ebebeb;
	    height: 30px;
	    line-height: 30px;
	    padding-left: 10px;
	    color: #646464;;
    }
    .introduce_start .introduce_left .introduce .size_Bs{
    	width: 100%;
    	height: 347px;
    }
    .introduce_start .introduce_left .introduce .img_desription{
    	width: 774px;
    	height: 730px;
    }
    .introduce_start .introduce_left .introduce .img_desription>div{
    	width: 774px;
    }
    .introduce_start .introduce_left .introduce .warm-tip{
    	width: 774px;
    	color: #646464;
    	padding: 0 20px;
    	height: 109px;
    }
    .introduce_start .introduce_left .introduce .warm-tip span{
    	display: block;
    	width: 65px;
    	height: 24px;
    	float: left;
    	text-align: center;
    	line-height: 24px;
    	color: red;
    	font-weight: bold;
    }
    .introduce_start .introduce_left .introduce .warm-tip p{
    	height: 48px;
    	float: left;
    	width: 650px;
    }
    .introduce_start .introduce_left .introduce .warm-tips{
    	width: 774px;
    	height: 93px;
    	border-top: 1px solid #e5e5e5;
	    padding: 10px 0px 15px 0px;
	    margin: 15px 0px;
	    color: #646464;
    }
    .introduce_start .introduce_left .introduce .warm-tips strong{
    	display: block;
	    color: #ea7514;
	    font-size: 14px;
    }
    .introduce_start .introduce_left .introduce .warm-tips p{
    	color: #555;
	    line-height: 20px;
	    padding-top: 5px;
    }
    
	.shopxinxi{
		width: 1000px;
		height: 38px;
		background: #efefef;
    	z-index: 9999;
    	margin: 0 auto;
    	margin-top: 30px;
    	border-bottom: 2px solid #ea7514;
	}
	.shopxinxi ul{
		width: 564px;
		height: 36px;
		float: left;n
	}
	.shopxinxi ul li{
		float: left;
		width: 140px;
		height: 36px;
		text-align: center;
		line-height: 36px;
		font-size: 14px;
		border-right: 1px solid #fff;
	}
	.shopxinxi ul li.on{
		background-color: #ea7514;
		color: #fff;
		font-weight: bold;
	}
	.shopxinxi ul li:hover{
		background-color: #ea7514;
		color: #fff;
		font-weight: bold;
	}
	.shopxinxi .shop_bags{
	    width: 260px;
	    text-align: right;
	    float: right;
	    padding-right: 17px;
	    height: 36px;
	    font-size: 18px;
	    color: #cc1700;
	    font-family: Tahoma, Geneva, sans-serif;
	}
	.shopxinxi .shop_bags span{
		display: inline-block;
		line-height: 36px;
		background: url(img/goods_info.gif) no-repeat -264px -1088px;
    	padding-left: 10px;
	}
	.shopxinxi .shop_bags a{
		display: inline-block;
	    vertical-align: top;
	    width: 98px;
	    height: 26px;
	    background: url(img/goods_info.gif) no-repeat left -1440px;
	    margin: 5px 0px 0px 5px;
	}
	.shop-details{
		width: 1000px;
		margin: auto;
	}
	.shop-details .place-details{
		width: 100%;
		height: 31px;
		padding: 0 0 5px 12px;
		margin: 10px 0px 16px 0px;
		color: #464646;
		line-height: 25px;
		border-bottom: 1px solid #E5E5E5;
		background: url(img/goods_info.gif) no-repeat 0 7px;
	}
	.shop-details .place-details span a{
		color: #005ba1;;
	}
	.shop-details .piccon-details{
		width: 100%;
		height: 703px;
	}
	.shop-details .piccon-details .allpic-details{
		width: 412px;
		height: 649px;
		float: left;
	}
	.piccon-details .allpic-details .bigpic-details{
		width: 402px;
		height: 536px;
		border: 1px solid #ccc;
		margin-right: 10px;
		overflow: hidden;
	}
	.piccon-details .allpic-details .smallpic-details{
		width: 100%;
		height: 103px;
		margin-top: 10px;
	}
	.piccon-details .allpic-details .smallpic-details ul li{
		width: 73px;
		height: 98px;
		padding-top: 8px;
		text-align: center;
		float: left;
		margin: 5px 4px 0px 4px;
		background: url(img/goods_info.gif) no-repeat -200px -333px;
	}
	.piccon-details .allpic-details .smallpic-details ul li img{
		width: 60px;
	}
	.piccon-details .allpic-details .smallpic-details ul li.boult{
		background-position: left -187px;
		width: 72px;
		margin: 3px 4px 0px 4px;
	}
	.piccon-details .allprice-details{
		width: 570px;
		height: 703px;
		float: right;
	}
	.piccon-details .allprice-details .pricebox-details{
		width: 100%;
		height: 542px;
	}
	.allprice-details .pricebox-details .pricebox-top{
		width: 100%;
		height: 64px;
		padding-bottom: 5px;
		border-bottom: 1px solid #E5E5E5;
	}
	.allprice-details .pricebox-details .pricebox-top h1{
		width: 100%;
		height: 25px;
		line-height: 25px;
		font-size: 14px;
		margin-bottom: 8px;
	}
	.allprice-details .pricebox-details .pricebox-top h1 b{
		color: #eb7616;
		display: inline-block;
		height: 30px;
		line-height: 30px;
	}
	.piccon-details .allprice-details .sharebox-details{
		width: 100%;
		height: 111px;
		margin-top: 30px;
	    border-top: 1px solid #e5e5e5;
	    padding-top: 20px;
	    overflow: hidden;
	}
	.allprice-details .pricebox-details .pricebox-top h2{
		font-size: 12px;
		color: #646464;
		height: 25px;
		line-height: 25px;
		font-weight: normal;
	}
	.allprice-details .pricebox-details .pricebox-top h2 a{
		color: #646464;
		text-decoration: underline;
		font-size: 14px;
		margin-right: 5px;
	}
	.allprice-details .pricebox-details .pricebox-top h2 i{
		font-style: normal;
		float: right;
	}
	.allprice-details .pricebox-details .price-time-details{
		width: 100%;
		height: 190px;
		padding: 20px 0;
		border-bottom: 1px solid #ccc;
	}
	.allprice-details .pricebox-details .price-time-details .buy-pice{
		width: 100%;
		height: 30px;
		line-height: 30px;
		color: #ea7514;
		font-size: 12px;
	}
	.allprice-details .pricebox-details .price-time-details .buy-pice span{
		height: 30px;
		width: 63px;
		line-height: 30px;
		display: inline-block;
		float: left;
	}
	.allprice-details .pricebox-details .price-time-details .buy-pice b{
		color: #cf1700;
		font-size: 24px;
	}
	.allprice-details .pricebox-details .price-time-details .time-details{
		width: 100%;
		height: 30px;
		padding-left: 22px;
		color: #666;
		line-height: 30px;
		background: url(img/goods_info.gif) no-repeat -254px -755px;
	}
	.allprice-details .pricebox-details .price-time-details .time-details span{
		color: #CF1700;
		font-weight: bold;
		width: 63px;
		font-size: 14px;
	}
	.allprice-details .pricebox-details .price-time-details .xiu-price{
		width: 100%;
		height: 30px;
		color: #666;
	}
	.allprice-details .pricebox-details .price-time-details .xiu-price span{
		display: inline-block;
		height: 30px;
		width: 63px;
		line-height: 30px;
	}
	.allprice-details .pricebox-details .price-time-details .deliver{
		width: 400px;
		height: 30px;
		color: #666;
	}
	.allprice-details .pricebox-details .price-time-details .deliver strong{
		color: #ea7514;
	    font-size: 15px;
	    font-family: simsun;
	}
	.allprice-details .pricebox-details .price-time-details .deliver b{
		margin-left: 30px;
	    font-size: 13px;
	    color: #ea7514;
	}
	.allprice-details .pricebox-details .price-time-details .deliver a{
		color: #005ba1;
		display: inline-block
	    text-decoration: underline;
	    padding-left: 10px;
	    position: relative;
	}
	.allprice-details .pricebox-details .price-time-details .deliver a i{
		position: absolute;
		display: block;
		width: 572px;
		height: 207px;
		left: -320px;
		top: 30px;
		border: 1px solid #ccc;
		display: none;
		z-index: 10;
	}
	.allprice-details .pricebox-details .price-time-details .deliver a:hover i{
		display: block;
	}
	.allprice-details .pricebox-details .price-time-details .expenses{
		width: 100%;
		height: 30px;
		color: #666;
		line-height: 30px;
	}
	.allprice-details .pricebox-details .price-time-details .expenses a{
		padding-left: 10px;
	    position: relative;
	    display: inline-block;
	    color: #005ba1;
	    text-decoration: underline;
	}
	.allprice-details .pricebox-details .price-time-details .expenses a em{
		display:inline-block;
		position: absolute;
		font-style: normal;
		width: 300px;
	    height: 79px;
	    padding: 5px 6px 0;
	    line-height: 20px;
	    font-size: 12px;
	    background: url(img/tipsbg.gif) no-repeat;
	    left: -13px;
    	top: -75px;
    	color: #4d4d4d;
    	display: none;
	}
	.allprice-details .pricebox-details .price-time-details .expenses a:hover em{
		display: block;
	}
	.allprice-details .pricebox-details .price-time-details .expenses span{
		display: block;
		float: left;
		width: 63px;
		height: 30px;
		line-height: 30px;
	}
	.allprice-details .pricebox-details .shopattr-details{
		width: 100%;
		height: 268px;
		padding: 10px 0px;
	}
	.allprice-details .pricebox-details .shopattr-details .Attr{
		width: 100%;
		height: 31px;
		line-height: 25px;
		margin: 7px 0 8px 0;
	}
	.pricebox-details .shopattr-details .Attr span{
		display: block;
		width: 60px;
		height: 25px;
		line-height: 25px;
		float: left;
		font-size: 12px;
		color: #646464;
	}
	.pricebox-details .shopattr-details .Attr ul li{
		float: left;
	    font-size: 12px;
	    line-height: 22px;
	    text-align: center;
	    height: 26px;
	    padding: 0 7px;
	    margin-right: 10px;
	    border: 1px solid #ccc;
	}
	
	.pricebox-details .shopattr-details #sizeAttr ul li{
		width: 47px;
	}
	.pricebox-details .shopattr-details #sizeAttr a{
		line-height: 25px;
		color:#005ba1;
		text-decoration: underline;
		padding-left: 10px;
	}
	.pricebox-details .shopattr-details .Attr ul li.active{
		border: 2px solid #ff6701;
		background: url(img/goods_info.gif) no-repeat right -52px;
	}
	
	.pricebox-details .shopattr-details #numberAttr b{
		display: block;
		float: left;
		width: 15px;
		height: 19px;
		margin-top: 2px;
		background: url(img/goods_info.gif) no-repeat;
	}
	.pricebox-details .shopattr-details #numberAttr b.subtract{
		background-position: -224px -160px;
	}
	.pricebox-details .shopattr-details #numberAttr b.add{
		background-position: -207px -179px;
		margin-right: 5px;
	}
	.pricebox-details .shopattr-details #numberAttr input{
		display: block;
		float: left;
		width: 52px;
		height: 22px;
		text-align: center;
		border: 1px solid #ccc;
		line-height: 22px;
		float: left;
		margin: 0 6px;
		margin-top: 2px;
	}
	.allprice-details .pricebox-details .shopattr-details .installment{
		width: 100%;
		height: 23px;
		line-height: 23px;
	}
	.allprice-details .pricebox-details .shopattr-details .installment a{
		display: block;
		padding: 0 10px 0 20px;
		color: #000000;
		height: 20px;
		position: relative;
		float: left;
		background: url(img/fqb.gif) no-repeat left;
	}
	.pricebox-details .shopattr-details .installment a em{
		display: block;
		width: 440px;
		padding: 5px 6px 0;
		color: #4d4d4d;
	    position: absolute;
	    left: 0px;
	    top: -80px;
	    font-style: normal;
		height: 79px;
		background: url(img/gtipsbg.gif) no-repeat;
		display: none;
	}
	.pricebox-details .shopattr-details .installment a:hover em{display: block;}
	.pricebox-details .shopattr-details .installment a em img{
		float: right;
		padding: 3px 0 0;
	}
	.allprice-details .pricebox-details .shopattr-details .installment span{
		display: block;
		padding: 0 10px 0 20px;
		font-style: normal;
		color: #000000;
		height: 20px;
		float: left;
		background: url(img/wlb.jpg) no-repeat left;
	}
	.allprice-details .pricebox-details .shopattr-details .installment i{
		display: block;
		padding: 0 10px 0 20px;
		font-style: normal;
		color: #000000;
		height: 20px;
		float: left;
		background: url(img/fwb.jpg) no-repeat left;
	}
	.allprice-details .pricebox-details .buycar-details{
		width: 100%;
		height:73px;
		padding: 20px 0 15px;
	}
	.allprice-details .pricebox-details .buycar-details a{
		display: block;
		height: 36px;
		margin-right: 15px;
		float: left;
		width: 153px;
		background: url(img/goods_info.gif) no-repeat;
	}
	.allprice-details .pricebox-details .buycar-details a.buy-btn{
		background-position: 0 -844px;
	}
	.pricebox-details .buycar-details a.buy-btn:hover{
		background-position: 0 -880px;
	}
	.allprice-details .pricebox-details .buycar-details a.buy-btn-1{
		background-position: 0 -916px;
	}
	.pricebox-details .buycar-details a.buy-btn-1:hover{
		background-position: 0 -952px;
	}
	.allprice-details .pricebox-details .buycar-details a.collect-btn{
		background-position: -211px -1435px;
	}
	.pricebox-details .buycar-details a.collect-btn:hover{
		background-position: -211px -1471px;
	}
	.pricebox-details .call-buy{
		width: 100%;
		height: 19px;
		line-height: 19px;
		color: #ea7414;
		font-size: 14px;
		margin-top: 10px;
	}
	.pricebox-details .call-buy strong{
		font-size: 16px;
	}
	.pricebox-details .call-buy span{
		color: #7e7e7e;
		font-size: 12px;
	}
	.allprice-details .yh-tips{
		height: 22px;
	}
	.allprice-details .yh-tips h2{
		width: 64px;
	    height: 22px;
	    line-height: 22px;
	    text-align: center;
	    display: block;
	    float: left;
	    font-size: 12px;
	    font-weight: normal;
	    color: #fff;
	    background: url(img/goods_info.gif) no-repeat  right -866px;
	}
	.allprice-details .yh-tips p{
		float: left;
	    color: #646464;
	    margin-left: 15px;
	    height: 22px;
	    line-height: 22px;
	    width: 480px;
	    overflow: hidden;
	}
	.piccon-details .allprice-details .sharebox-details dl{
		width: 221px;
		height: 90px;
		border-right: 1px solid #E5E5E5;
		float: left;
	}
	.piccon-details .allprice-details .sharebox-details dl dt{
		width: 105px;
		height: 90px;
		margin-right: 15px;
		float: left;
	}
	.piccon-details .allprice-details .sharebox-details dl dd{
		width: 100px;
		height: 90px;
		float: left;
	}
	.piccon-details .allprice-details .sharebox-details dl dd p{
		line-height: 20px;
		color: #707070;
		margin-top: 30px;
	}
	.allprice-details .sharebox-details .shareclass-details{
		width: 295px;
		padding: 22px 0px 22px 50px;
		height: 68px;
		float: left;
	}
	.allprice-details .sharebox-details .shareclass-details span{
		float: left;
		color: #707070;
		line-height: 24px;
	}
	.allprice-details .sharebox-details .shareclass-details ul li{
		width: 24px;
		height: 24px;
		float: left;
		margin-right: 7px;
		background: url(img/goods_info.gif) no-repeat;
		background-position: -13px -27px;
	}
	.sharebox-details .shareclass-details ul li.Tencent{
		background-position:-44px -27px ;
	}
	.sharebox-details .shareclass-details ul li.Renren{
		background-position:-107px -27px ;
	}
	.sharebox-details .shareclass-details ul li.Kaixin{
		background-position: -139px -27px;
	}
	.sharebox-details .shareclass-details ul li.Docin{
		background-position: -170px -27px;
	}
	div.jqZoomPup {
		border: 1px solid #ddd;
		position : absolute;
		z-index: 999;
		background-color: #fff;
		opacity: 0.5;
	}
	div.zoomdiv {
		z-index:999;
		position: absolute;
		background:#ffffff;
		overflow:hidden;
}
</style>

<script>
	$(function(){
		//放大镜
		$(".jqzoom").jqueryzoom(
		);
	}
	)
	var num=0;
	$(".buy-btn-1").on('click', addCart);
	function addCart(event) {
		num+=1;
		$(".backtop-details .buy span.num").text(num);
		var offset=$(".r-menu span.num").offset();
		var offsettop=$(".buy-btn-1").offset().top;
		var flyer = $('<img src="img/small3.PNG"/>');
		 var scrollTop = $(document).scrollTop();  
		flyer.fly({
		    start: {
		        left: event.pageX,
		        top: event.pageY-scrollTop-20
		    },
		    end: {
		        left: offset.left,
		        top: offset.top-scrollTop+40,
		        width: 20,
		        height: 20
		    }
		});
	}
	function addShop(){
		addCart(event)
	}

	$(".backtop-details .close").click(function(){
		$(".backtop-details").hide()
	})
	
	/*返回顶部*/
	$(".backtop-details .backtop").click(function(){
		$("html,body").animate({"scrollTop":0},1000);
	})
	/*小图换大图*/
	$(".smallpic-details ul li").click(function(){
		$(this).addClass("boult").siblings("li").removeClass("boult");
			var srcs=$(this).children("img").attr("src");
			var end=srcs.indexOf("."); 
			var a=srcs.substring(0,end);
			var pics=a+"-big.PNG";
			$(".jqzoom").children("img").attr("src",pics);
			$(".jqzoom").children("img").attr("jqimg",pics);
	})
	
	/*倒计时*/
	function time(){
		var d=new Date();
		var nd=new Date("2017 5 10");
		var myt=nd.getTime()-d.getTime(); //总共的毫秒数
		var s=Math.floor(myt/1000); //总共的秒数
		var t=Math.floor(s/(24*60*60)); //剩余的天数
		var h=Math.floor((s-t*24*60*60)/3600); //剩余的小时
		var f=Math.floor((s-t*24*60*60-h*3600)/60); //剩余的分钟
		var sc=s-t*24*60*60-h*3600-f*60; //剩余的秒数
		var sj="";	
		var y=d.getFullYear();
		var m=d.getMonth()+1;
		var ti=d.getDate();
		var ho=d.getHours();
		if(h<10){
			h="0"+h;
		}
		if(f<10){
			f="0"+f;
		}
		$(".d").text(t);
		$(".h").text(ho);
		$(".f").text(f);
		$(".m").text(sc);
	}
	setInterval(time,1000)

	/*尺寸选择*/		
	
	$("#sizeAttr li").click(function(){
		$(this).addClass("active").siblings("li").removeClass("active")
	});
	/*数量增减*/
	$("#numberAttr b.add").click(function(){
		var number=parseInt($("#numberAttr input").val());
		$("#numberAttr input").val(number+1);
		if(number+1>1){
			$("#numberAttr b.subtract").css("background-position","-207px -160px")
		}
	})
	$("#numberAttr b.subtract").click(function(){
		var number=parseInt($("#numberAttr input").val());
		if(number-1==1){
			$("#numberAttr b.subtract").css("background-position","-224px -160px");
		}
		$("#numberAttr input").val(number-1);
	})
	
</script>